html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  background-color: #ff0778;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

input {
  background: url(/img/arrow.svg) no-repeat scroll 7px 12px;
  padding-left: 30px;
  background-size: 15px;
}
/*HEADER STYLE*/
header {
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

header > img {
  height: 30px;
}

.login-font {
  text-decoration: none;
  color: #ff0778;
  text-align: center;
}

.blank-space {
  width: 80%;
  background-color: blue;
}

/*END HEADER STYLE*/

.container {
  height: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px 20px 10px 20px;
}

.font-slogan {
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
}

.font-slogan-subtopic {
  color: #fff;
  font-weight: 300;
}

/*SEARCH*/
.container-search {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
  gap: 0.7rem;
}

.container input {
  width: 90%;
  height: 40px;
  border-radius: 6px;
  font-size: 18px;
  border: rgb(196, 194, 194) 1px solid;
}

.destination {
  background-image: url(./img/circle.svg);
  position: left;
  padding-left: 30px;
  background-size: 15px;
  background-repeat: no-repeat;
}
.container .search-btn {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  font-size: 18px;
  border: rgb(196, 194, 194) 1px solid;
  background-color: #ff0778;
  color: #fff;
}

.search-btn-icon {
  height: 14px;
  padding-right: 10px;
}
.container > .bottom-img {
  width: 80%;
}

/*END SEARCH*/
.gap-pink {
  text-align: center;
  width: 90%;
}
.gap-pink-img {
  width: 80%;
}
/*FOOTER*/

footer {
  margin-top: 0;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  height: 50px;
  width: 100%;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.footer-btn {
  padding: 0;
  border: 0;
  background-color: #fff;
}

.bottom-img {
  width: 30px;
  height: 30px;
}
