html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  background-color: #ff0778;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

input > #origin {
  background: url(/img/circle.svg) no-repeat scroll 7px 12px;
  padding-left: 30px;
  background-size: 15px;
}

input {
  background: url(/img/arrow.svg) no-repeat scroll 7px 12px;
  padding-left: 30px;
  background-size: 15px;
}

input {
  background: url(/img/arrow.svg) no-repeat scroll 7px 12px;
  padding-left: 30px;
  background-size: 15px;
}

input {
  background: url(/img/arrow.svg) no-repeat scroll 7px 12px;
  padding-left: 30px;
  background-size: 15px;
}
/*HEADER STYLE*/
header {
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

header > img {
  height: 30px;
}

.login-font {
  text-decoration: none;
  color: #ff0778;
  text-align: center;
}

.blank-space {
  width: 40%;
}

/*END HEADER STYLE*/

.container {
  height: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px 20px 10px 20px;
}

.font-slogan {
  text-transform: uppercase;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 500;
}

.font-slogan-subtopic {
  color: #fff;
  font-weight: 300;
  font-size: 1.3rem;
}

/*SEARCH*/

.container-search {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
  gap: 0.7rem;
}

.search-input {
  width: 90%;
  height: 40px;
  border-radius: 6px;
  font-size: 18px;
  border: rgb(196, 194, 194) 1px solid;
}

.container input {
  width: 90%;
  height: 40px;
  border-radius: 6px;
  font-size: 18px;
  border: rgb(196, 194, 194) 1px solid;
}

/*ICONS INPUTS*/
.icon-input {
  background-size: 18px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 0px 0px 0px 12%;
}

.icon-input.icon-input-origin {
  background-image: url("../img/circle.svg");
}

.icon-input.icon-input-destination {
  background-image: url("../img/map.png");
}

.icon-input.icon-input-date {
  background-size: 15px;
  background-image: url("../img/calendar.svg");
}

/*END ICONS INPUT*/

.container .search-btn {
  width: 103%;
  height: 40px;
  border-radius: 6px;
  font-size: 18px;
  border: rgb(196, 194, 194) 1px solid;
  background-color: #ff0778;
  color: #fff;
  padding: 0px 12% 0px 12%;
}

.search-btn-icon {
  height: 14px;
  padding-right: 10px;
}
.container > .bottom-img {
  width: 80%;
}

/*END SEARCH*/
.gap-pink {
  text-align: center;
  width: 90%;
  padding-bottom: 18%;
}
.gap-pink-img {
  width: 80%;
}
/*FOOTER*/

footer {
  margin-top: 0;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  height: 50px;
  width: 100%;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.footer-btn {
  padding: 0;
  border: 0;
  background-color: #fff;
}

.bottom-img {
  width: 20px;
  height: 20px;
}
